.field {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 8px;
}

.input {
  padding: 16px;
  font-family: var(--ff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  background: var(--white);
  border: 1px solid rgb(40 40 40 / 16%);
  border-radius: 8px;
  outline: none;
}

.input::placeholder {
  color: rgb(78 93 124 / 50%);
}
