.header {
  display: grid;
  grid-template-columns: 1fr 40px;
  gap: 10px;
  margin: 15px;
}

.menu {
  position: fixed;
  inset: 0;
  z-index: 101;
  padding: 15px;
  overflow-y: scroll;
  background-color: var(--white);
}

.close {
  position: fixed;
  top: 15px;
  right: 15px;
  background-color: var(--white);
}
