.form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  font-family: var(--ff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.textarea {
  max-width: 100%;
}

.sended {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.open {
  max-height: 100%;
  padding: 10px 0;
}

.success {
  background-color: var(--green);
}
